@import "../../Commons/commons.css";

.container {
    border: 2px solid blue;
    border-radius: 3px;
    background-color: #ccffff;
}

.paper {
    box-shadow: 0 0.5vh 1.5vh rgba(0,0,0,0.12),
    0 0.5vh 1vh rgba(0,0,0,0.24);
}

.sq {
    position: absolute;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    font-size: 35px;
    color: #000000;
    text-align: center;
    line-height: 98px;
    user-select: none;
    transition: 0.5s;
    font-family: Broadway;
}

.winscreen {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 70vmin;
    font-family: Broadway;
    font-size: 50px;
    text-align: center;
    line-height: 70vmin;
    color: #e21f1a;
    transition: 1.5s;
    border-radius: 3px;
    user-select: none;
    background-color: rgba(114, 194, 190, 0.55);
}

.full {
    border: 1px solid gray;
    border-radius: 3px;
    background-color: white;
}

.placed {
    background-color: #2a9c0f;
}

.nonplaced {
    background-color: white;
}

.empty {
    background-color: transparent;
}
